/*--GOOGLE FONTS--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--VARIABLE CSS--*/
:root {
  --header-height: 3rem;

  /*--Light-mode --*/
  &,
  &.light-mode {
    --title-color: #3d3d3d;
    --title-color-dark: #252525;
    --text-color: #666666;
    --body-color: #F5F5F5;
    --background: #F5F5F5;
    --box-background: white;
    --button-background: #2d2d2d;
    --header-bg: rgb(248, 248, 248);
    --border-bg: rgba(0, 0, 0, 0.342);

  }


  /*--Dark-mode --*/
  &.dark-mode {
    --title-color: #ffffff;
    --title-color-dark: #d4d4d4;
    --text-color: #bdbdbd;
    --body-color: #0e1b21;
    --button-background: #009dc0;
    --button-hover-background: #00a5b6;
    --button-hover-shadow: #008a9c;
    --box-background: rgb(11, 56, 71);
    --background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(11, 87, 112) 88.8%);
    --header-bg: rgb(1, 57, 75);
    --border-bg: #008a9c;



  }


  /* --COLORS--*/
  --title-color: #282828;
  --title-color-dark: #2e2e2e;
  --text-color: #636363;
  --body-color: #F5F5F5;

  /* -- font and typo --*/
  --body-font: "Poppins",
  sans-serif;

  /*  .5rem = 8px | 1rem = 16px*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*-- FONT WEIGHT --*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margins*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;


  /*-- z-index --*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --z-top: 1001;
  /*-- responsive typography--*/

  @media screen and (max-width: 992px) {
    :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;

    }
  }

  /* BASE*/
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body,
  button,
  input,
  textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }

  body {
    background: var(--background);
    color: var(--text-color);
  }

  header {
    padding-top: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 10001;
  }


  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*-- RESUABLE CSS CLASSES--*/
  .section {
    padding: 6rem 0 2rem;
  }

  .section_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }

  .section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
  }

  .section_title,
  .section_subtitle {
    text-align: center;
  }


  /*-- Layout --*/
  .container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid {
    display: grid;
    gap: 1.5rem
  }

  /*--Buttons--*/
  .button {
    display: inline-block;
    background-color: var(--button-background);
    color: white;
    padding: 0.8rem 1.8rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    transition: .4s;
  }

  .button:hover {

    background-color: rgb(0, 200, 231);
    box-shadow: 0 0 10px rgb(0, 163, 188);


  }

  .button__icon {
    margin-left: var(--mb-0-5);
  }

  .button--flex {
    display: inline-flex;
    align-items: center;
  }

  /*-- Breakpoints--*/
  /*-- for large devices--*/
  @media screen and (max-width: 992px) {
    .container {
      margin-left: var(--mb-1-5);
      margin-right: var(--mb-1-5);
    }

    .button {
      padding: 0.7rem 1.75rem;
    }

    .button__icon {
      width: 22px;
      height: 22px;
    }

    header {
      padding-top: 0.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
    }
  }

  /*-- for medium devices--*/
  @media screen and (max-width: 768px) {

    body {
      margin: 0 0 var(--header-height) 0;
    }

    .section {
      padding: 4rem 0 4rem;
    }

    .section__subtitle {
      margin-bottom: var(--mb-3);
    }

    header {
      padding-top: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  @media screen and (max-width: 576px) {}

  /*-- For small devices--*/
  @media screen and (max-width: 350px) {
    :root {
      --big-font-size: 2.25rem;
    }

    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  }
}