.porto {
    text-align: center;
    padding-bottom: 4rem;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    transition: 0.3s;
}

.work__item:hover {
    background-color: rgb(0, 163, 188);
    color: white;
    transform: scale(1.1);
}

div.work__container.container.grid {

    padding-top: 2rem;
}

.work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    justify-content: center;
    padding: 0 1rem;
    /* Ensure some padding to prevent overflow */
}

.work__card {
    width: 100%;
    /* Make width 100% to be responsive */
    max-width: 400px;
    /* Set a maximum width */
    background-color: var(--box-background);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.368);
    padding: 1.25rem;
    border-radius: 1rem;
    transition: 0.4s;
}

.work__card:hover {
    box-shadow: 0 0 6px rgb(0, 163, 188);
    transform: scale(1.04);
}

.work__img {
    width: 100%;
    height: auto;
    /* Let height adjust automatically */
    max-height: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    transition: .4s ease;
}

.work__img:hover {
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: rgba(0, 163, 188, 0.459);
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);

}

.work_desc {
    font-size: small;
    color: rgb(0, 163, 188);

    padding-bottom: 1rem;

}

.work__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.work__button:hover {
    color: rgb(0, 163, 188);
}

.work__button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.work__button:hover .work__button-icon {
    transform: translateX(0.25rem);
    color: rgb(0, 163, 188);
}

.active {
    background-color: rgb(0, 163, 188);
    color: white;
}

/*-- Breakpoints--*/
/*-- for large devices--*/
@media screen and (max-width: 992px) {
    .work__container {
        gap: 1.25rem;
    }

    .work__card {
        padding: 1rem;
    }

    .work__img {
        margin-bottom: 0.75rem;
    }

    .work__title {
        margin-bottom: 0.25rem;
    }
}

/*-- for medium devices--*/
@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: 1fr;
        /* Adjust to a single column */
        gap: 1.25rem;
        justify-items: center;
        /* Adjust gap for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .work__container {
        padding: 1.5rem;
        gap: 1rem;
        /* Adjust gap for smaller screens */
    }

    .work__img {
        width: 100%;
        height: auto;
        /* Ensure the height is auto */
    }
}

@media screen and (max-width: 450px) {
    .work__container {
        padding: 1rem;
        /* Adjust padding for smaller screens */
        gap: 1rem;
        /* Adjust gap for smaller screens */
    }
}

/*-- For small devices--*/
@media screen and (max-width: 350px) {
    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: 0.25rem;
    }
}